* {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  color: whitesmoke;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
canvas {
  /* border: 2px red solid; */
  width: 95vw;
  height: 95vh;
  background-color: black;
}

#scorebox {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
}

#highbox {
  position: absolute;
  top: 1rem;
  right: 3rem;
  color: white;
}

.startScreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 80vw;
  border: red solid 1px;
  align-items: center;
  justify-content: space-around;
}

img {
  height: 60%;
}

h1 {
  color: #f1d32a;
  letter-spacing: 1rem;
}

#start{
  width: 30%;
  height: 10%;
  color: #f1d32a;
  background-color: transparent;
  border: solid 2px #f1d32a;
  border-radius: 3rem;
  font-size: 20px;

}

#start:hover{
  border: solid 2px #f1d32a96;
color:#f1d32a96
}